@font-face {
    font-family: old;
    src: url(../assets/fonts/chomsky/Chomsky.otf);
}
@font-face {
    font-family: pt;
    src: url(../assets/fonts/pt-serif/PTF55F.ttf);
}
@font-face {
    font-family: eaves;
    src: url(../assets/fonts/mrs-eaves/MRSEAV~1.TTF);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
.body1{
    border: none;
    height:auto;
    width:80vw;
    margin:30px auto;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
    padding:20px 30px;
}
.head1{
    display:flex;
    justify-content: space-between;
    
}
.no{
    font-weight: bold;
    margin-left:25px;
}
.head1-hr{
    
    border:3px solid black;
    margin:7px 0;
}

.head1-heading{
    font-family:old;
    font-size:8.5rem;
   
    font-weight: bolder;
    letter-spacing: 10px;
    word-spacing:10px;
    
}
.head1-p1{
    display: flex;
    justify-content: flex-end;
}


/* section-2 */
.head2-cmn{
    display:grid;
    grid-template-columns: 1.5fr .001fr .6fr;
    grid-template-rows: auto;
    gap:20px;
}
.head2-cmn1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18vh 15vh 20vh 20vh;
    grid-template-areas:
    "h i i"
    "p1 i i"
    "p1 i i"
    "p1 p2 p3"
    "p1 p2 p3";
    column-gap: 20px;
    row-gap:10px;
}
.head2-p11{
    grid-area: h;
}
#box2{
    grid-area: i;
    background-color: grey;
}
#box3{
    grid-area: p1;
}
#box4{
    grid-area: p2;
}
#box5{
    grid-area: p3;
}
.head2-h1{
    font-family: pt;
    font-size:5rem;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-weight: bolder;
}
.head2-p11{
    background-color: rgb(0, 176, 176);
    
   
}
.head2-p1{
    background-color: rgb(0, 176, 176);
    color:white;
    padding:15px 8px;
    font-size:1.8rem;
    font-weight:bold;
}
.head2-hr{
    height:100%;
}
.head2-img{
    background-color: grey;
    height:100px;
    width:auto;
}
p{
    text-align: justify;
}

/* section 3 */
.head3-hr1{
    margin:30px 0 20px 0;
}
.head3-cmn{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: stretch;
}
.head3-h2{
    font-size: pt;
    font-weight: bold;
    font-size:1.7rem;
    margin-bottom:10px;
    
}
.head3-p1{
    text-align: justify;
}
.head3-img{
    background-color: grey;
}
/* section - 4 */
.head4-h2{
    font-size: pt;
    font-weight: bold;
    font-size:1.7rem;
    margin:20px 0 10px 0;
}
.head4-img{
    height:250px;
    width:auto;
    margin:10px 0;
    background-color: grey;
}

/* body - 2 */
.head1-hr1{
    border:3px solid black;
    margin:7px 0 10px 0;
}
.sec2-head2-cmn{
    display:grid;
    grid-template-columns: 1.5fr .001fr .6fr;
    grid-template-rows: auto;
    gap:20px;
}
.sec2-head2-cmn1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 20vh 20vh 10vh;
    grid-template-areas:
    "hd1 hd1 img"
    "pg1 pg2 img"
    "pg1 pg2 img"
    "pg1 pg2 pg3"
    "pg1 pg2 pg3";
    column-gap:20px;
    row-gap:5px;
    
}
.sec2-heading{
    grid-area: hd1;
    /* background-color: aqua; */
}
.sec2-img{
    grid-area: img;
    background-color: gray;
    margin-top:5px;
}
.sec2-p1{
    grid-area:pg1;
}
.sec2-p2{
    grid-area:pg2;
}
.sec2-p3{
    grid-area: pg3;
}
.sec2-head1{
    font-family: pt;
    font-size:3.5rem;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
}
.break{
    background-color: red;
    font-size:1.7rem;
    padding:5px 8px;
    color:white;
    float: left;
    margin: 15px 25px;
}
.sec2-img{
    width:auto;
    height:auto;
    background-color: grey;
}
.sec-hr{
    margin: 15px 0;
    height:auto;
}
.sec2-word{
    font-family: eaves;
    text-align: center;
    font-weight: bold;
    font-size:1.3rem;
}
.sec2-img2{
    height:150px;
    width:auto;
    margin:10px 0;
    background-color: grey;
    
}
.sec2-img3{
    height:280px;
    width:auto;
    margin:10px 0;
    background-color: grey;
}
/* section 2 body 2 head3 */
.sec2-head3-cmn{
    display:grid;
    grid-template-columns: 1fr .001fr 1fr;
    grid-template-rows: auto;
    gap:20px;
}
.head4-h3{
    font-size: pt;
    font-weight: bold;
    font-size:1.7rem;
    margin:0px 0 10px 0;
}
.sec2-head3-cmn1{
    display:grid;
    grid-template-columns: .9fr 1fr;
    column-gap:20px;
}
.sec2-img4{
    height:140px;
    width:auto;
    background-color: grey;
    margin:10px 0;
}
.sec2-head4-h3{
    font-size: pt;
    font-weight: bold;
    font-size:1.7rem;
    margin:0px 0 10px 0;
    display: inline;
}
.head4-red{
    font-size: pt;
    font-weight: bold;
    color:white;
    background-color: red;
    padding:4px 20px;
    font-size:1.7rem;
    margin:0px 0 30px 10px;
    
}
.sec2-head5-cmn1{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top: 15px;

}

.sec2-img5{
    height:200px;
    width:auto;
    background-color: grey;

}

/* section last */
.sec2-img6{
    height:220px;
    width:220px;
    margin:10px 20px 10px 0px;
    background-color: grey;
    float: left;
}
.sec2-last-cmn{
    display: grid;
    grid-template-columns: .9fr 1.5fr;
    margin: 5px 0;
}
.sec2-last-cmn1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.sec2-last-h2{
    font-size:2.9rem;
}
.sec2-last-p1{
    margin-top: 18px;
    font-size:1.3rem;
    font-weight: bold;
}




@media screen and (max-width:500px) {
.head1-p{
    text-align: end;
    
}
.head1-heading{
    font-size:5rem;
    text-align: center;
}
.head2-h1{
    font-size:3rem;
    letter-spacing: 5px;
}
.head2-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.head2-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 18vh 15vh 20vh 20vh; */
    grid-template-rows: auto;
    grid-template-areas:
    "h"
    "p1"
    "i"
    "p2"
    "p3";
}
.head3-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head2-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head2-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "hd1"
    "img"
    "pg1"
    "pg2"
    "pg3";
}
.sec2-head3-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head3-cmn1{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head4-h3{
    display:block;
}
.sec2-head5-cmn1{
    display: grid;
    grid-template-columns:1fr;
}
.sec2-last-cmn{
    display: grid;
    grid-template-columns: 1fr;
}
.sec2-img6{
    clear: left;
    display: none;
}
.sec2-last-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    gap:15px;
}
}





@media screen and (min-width:750px) and (max-width:1000px) {
.head1-p{
    text-align: end;
}
p{
    font-size:1.4rem;
}
h3,h1{
    font-size:5rem;
}
.head2-p1{
    font-size:3rem;
}
.head1-heading{
    font-size:5rem;
    text-align: center;
}
.head2-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.head2-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 18vh 15vh 20vh 20vh; */
    grid-template-rows: auto;
    grid-template-areas:
    "h"
    "p1"
    "i"
    "p2"
    "p3";
}
.head3-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head2-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head2-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap:20px;
    grid-template-areas:
    "hd1"
    "img"
    "pg1"
    "pg2"
    "pg3";
}
.sec2-head3-cmn{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head3-cmn1{
    display:grid;
    grid-template-columns: 1fr;
}
.sec2-head1{
    display:block;
}
.sec2-head4-h3{
    display:inline;
    font-size:2.5rem;
}
.sec2-head5-cmn1{
    display: grid;
    grid-template-columns:1fr;
}
.sec2-last-cmn{
    display: grid;
    grid-template-columns: 1fr;
}
.sec2-img6{
    clear: left;
    display: none;
}
.sec2-last-cmn1{
    display: grid;
    grid-template-columns: 1fr;
    gap:15px;
}
}


